# Forced Alignment with Vosk

Originally, we evaluated the tagger's F1-score by simply using indices, which may be too penalising. In order to properly evaluate the performance of our PII identification pipeline, we would need to perform *forced alignment*, which aligns token-level transcripts into their corresponding timestamps in the audio files.

For this, we shall be using *Vosk*, a toolkit which offers forced-alignment models.

## Change Directory to Root Project

In [2]:
import os 

os.chdir('..')

In [3]:
os.getcwd()

'/Users/farhan/Desktop/Research'

## Helper functions

Helper function for sorting the audio file names by ID

In [7]:
def retrieve_key(file: str) -> int:
    try:
        # 3 digit
        key = int(file[2:5])
    except ValueError:
        # 1 digit
        if file[3] == '.':
            key = int(file[2])
        else:
            key = int(file[2:4])
    return key

Helper function to embed the entities within the transcripts (given a dataframe)

In [14]:
import pandas as pd

def insert_entity_tags_to_df(df: pd.DataFrame) -> pd.DataFrame:
    """
    Inserts entity boundary tags into the 'text' column based on 'entities',
    and adds a new column 'tagged_text' with the result.

    Args:
        df (pd.DataFrame): Must contain 'text' and 'entities' columns.

    Returns:
        pd.DataFrame: Same DataFrame with an additional 'tagged_text' column.
    """
    def insert_tags(row):
        text = row["text"]
        entities = row["entities"]

        # Sort entities in reverse order of start index to avoid offset issues
        entities_sorted = sorted(entities, key=lambda x: x[0], reverse=True)

        for start, end, label in entities_sorted:
            tag_start = f"[{label}_START]"
            tag_end = f"[{label}_END]"
            text = text[:end] + tag_end + text[end:]
            text = text[:start] + tag_start + text[start:]
        
        return text

    df = df.copy()
    df["tagged_text"] = df.apply(insert_tags, axis=1)
    return df

Helper function to unify whitespaces

In [ ]:
import re

def unify_whitespace(s):
    return re.sub(r'\s+', ' ', s.strip())

Helper function to run Vosk forced-alignment model

In [ ]:
from vosk import Model, KaldiRecognizer
import soundfile as sf
import json

def run_vosk(audio_path: str, vosk_model: Model) -> list:
    # Load audio
    audio_data, sample_rate = sf.read(audio_path)
    
    # Prepare recognizer
    rec = KaldiRecognizer(vosk_model, sample_rate)
    rec.SetWords(True)
    
    if audio_data.ndim > 1:
        audio_data = audio_data.mean(axis=1)  # Stereo to mono

    pcm_data = (audio_data * 32767).astype("int16").tobytes()

    rec.AcceptWaveform(pcm_data)
    result = json.loads(rec.FinalResult())
    
    return result.get('result', [])

Helper function to align reference Whisper-generated transcript to forced-alignment model

In [ ]:
def align_transcript_to_vosk(vosk_words, transcript):
    """
    Try to align known transcript to Vosk word-level timestamps.
    Greedy matching for simplicity.
    """
    transcript = unify_whitespace(transcript).lower()
    transcript_tokens = transcript.split()

    aligned = []
    vosk_idx = 0
    trans_idx = 0

    while vosk_idx < len(vosk_words) and trans_idx < len(transcript_tokens):
        vosk_word = vosk_words[vosk_idx]['word'].lower()
        trans_word = transcript_tokens[trans_idx]

        if vosk_word == trans_word:
            aligned.append({
                "word": transcript_tokens[trans_idx],
                "start": vosk_words[vosk_idx]['start'],
                "end": vosk_words[vosk_idx]['end']
            })
            vosk_idx += 1
            trans_idx += 1
        else:
            # If mismatch, skip Vosk word and hope next matches
            vosk_idx += 1

    return aligned

## Load the dataset

In [2]:
import os

os.chdir('..')

Load batch 1 (150 samples)

In [5]:
import pandas as pd

batch_one_ref = pd.read_json('data/true_data_150.jsonl', lines=True)
batch_one_ref.head()

                                                text
0  The day before [DATE_START] yesterday, [DATE_E...
1  um my date of birth is uh second [DATE_START] ...
2  she handed over a crumpled piece of paper, the...
3  aglio olio and err uh [CARDINAL_START] three t...
4  [PERSON_START] Hong' [PERSON_END]s email is [E...

In [15]:
import os

batch_one_files = sorted(os.listdir("data/Audio_Files_for_testing"), key=retrieve_key)
batch_one_files  = [f'data/Audio_Files_for_testing/{file}' for file in batch_one_files]

import pandas as pd

batch_one_df = pd.DataFrame(data=batch_one_files, columns=['file_name'])
batch_one_df.head()

                              file_name
0  data/Audio_Files_for_testing/id1.wav
1  data/Audio_Files_for_testing/id2.wav
2  data/Audio_Files_for_testing/id3.wav
3  data/Audio_Files_for_testing/id4.wav
4  data/Audio_Files_for_testing/id5.wav

Load batch 2 (350 samples)

In [28]:
import pandas as pd

batch_two_ref = pd.read_json('data/newtest_151_500_updated_TTS.jsonl', lines=True)
batch_two_ref.head()

,id,text,entities
0,151,"456 729103 8 is Kaifu Lee's DBS bank account, ...","[[0, 12, BANK_ACCOUNT]]"
1,152,"Jacob's OCBC bank account is 192-58462-3, and ...","[[29, 40, BANK_ACCOUNT]]"
2,153,"788 305194 2 is Zheng Qi's POSB bank account, ...","[[0, 12, BANK_ACCOUNT]]"
3,154,"Geetha's UOB bank account is 341-92741-9, and ...","[[29, 40, BANK_ACCOUNT]]"
4,155,"623 481057 6 is Ah Seng's Maybank account, and...","[[0, 12, BANK_ACCOUNT]]"

In [16]:
import os

batch_two_files = sorted(os.listdir("data/newtest_151_500_updated_TTS"), key=retrieve_key)
batch_two_files  = [f'data/newtest_151_500_updated_TTS/{file}' for file in batch_two_files]

import pandas as pd

batch_two_df = pd.DataFrame(data=batch_two_files, columns=['file_name'])
batch_two_df.head()

                                    file_name
0  data/newtest_151_500_updated_TTS/id151.wav
1  data/newtest_151_500_updated_TTS/id152.wav
2  data/newtest_151_500_updated_TTS/id153.wav
3  data/newtest_151_500_updated_TTS/id154.wav
4  data/newtest_151_500_updated_TTS/id155.wav

As you can see, for batch 2, the entities enclosed are not in the reference transcripts. As we are given the indices, we can write a helper function to include them within the transcripts.

Preprocess transcripts

In [29]:
batch_two_ref = insert_entity_tags_to_df(batch_two_ref)

In [30]:
batch_two_ref.head()

,id,text,entities,tagged_text
0,151,"456 729103 8 is Kaifu Lee's DBS bank account, ...","[[0, 12, BANK_ACCOUNT]]",[BANK_ACCOUNT_START]456 729103 8[BANK_ACCOUNT_...
1,152,"Jacob's OCBC bank account is 192-58462-3, and ...","[[29, 40, BANK_ACCOUNT]]",Jacob's OCBC bank account is [BANK_ACCOUNT_STA...
2,153,"788 305194 2 is Zheng Qi's POSB bank account, ...","[[0, 12, BANK_ACCOUNT]]",[BANK_ACCOUNT_START]788 305194 2[BANK_ACCOUNT_...
3,154,"Geetha's UOB bank account is 341-92741-9, and ...","[[29, 40, BANK_ACCOUNT]]",Geetha's UOB bank account is [BANK_ACCOUNT_STA...
4,155,"623 481057 6 is Ah Seng's Maybank account, and...","[[0, 12, BANK_ACCOUNT]]",[BANK_ACCOUNT_START]623 481057 6[BANK_ACCOUNT_...

In [31]:
batch_two_ref.tail()

,id,text,entities,tagged_text
346,496,Patrick Loh boasting about his email patrick.l...,"[[37, 60, EMAIL]]",Patrick Loh boasting about his email [EMAIL_ST...
347,497,Jasmine Yeo got sian when someone spell her em...,"[[50, 69, EMAIL]]",Jasmine Yeo got sian when someone spell her em...
348,498,Bobby Tan write his email bobby.tan@gmail.com ...,"[[26, 45, EMAIL]]",Bobby Tan write his email [EMAIL_START]bobby.t...
349,499,Kamala Singh telling the IT guy her email kama...,"[[42, 60, EMAIL]]",Kamala Singh telling the IT guy her email [EMA...
350,500,Raymond Koh say his email raymond.k@singnet.co...,"[[26, 50, EMAIL]]",Raymond Koh say his email [EMAIL_START]raymond...

In [32]:
batch_two_ref = batch_two_ref.drop(columns=['entities', 'text', 'id'], axis=1)
batch_two_ref.rename(columns={'tagged_text': 'text'}, inplace=True)
batch_two_ref.head()

                                                text
0  [BANK_ACCOUNT_START]456 729103 8[BANK_ACCOUNT_...
1  Jacob's OCBC bank account is [BANK_ACCOUNT_STA...
2  [BANK_ACCOUNT_START]788 305194 2[BANK_ACCOUNT_...
3  Geetha's UOB bank account is [BANK_ACCOUNT_STA...
4  [BANK_ACCOUNT_START]623 481057 6[BANK_ACCOUNT_...

Combine the datasets

In [33]:
test_set_ref = pd.concat([batch_one_ref, batch_two_ref], ignore_index=True)

In [34]:
test_set_ref.head()

                                                text
0  The day before [DATE_START] yesterday, [DATE_E...
1  um my date of birth is uh second [DATE_START] ...
2  she handed over a crumpled piece of paper, the...
3  aglio olio and err uh [CARDINAL_START] three t...
4  [PERSON_START] Hong' [PERSON_END]s email is [E...

In [36]:
test_set_ref.tail()

                                                  text
496  Patrick Loh boasting about his email [EMAIL_ST...
497  Jasmine Yeo got sian when someone spell her em...
498  Bobby Tan write his email [EMAIL_START]bobby.t...
499  Kamala Singh telling the IT guy her email [EMA...
500  Raymond Koh say his email [EMAIL_START]raymond...

## Load the model

Unfortunately, there are no current models that are tuned for Singaporean English (Singlish). As such, we shall use the `vosk-model-en-us-0.42-gigaspeech` model.

In [4]:
from vosk import Model, KaldiRecognizer
import soundfile as sf
import json

# Load model (replace path with your model directory)
model_path = "models/vosk-model-en-us-0.42-gigaspeech"
model = Model(model_path)

LOG (VoskAPI:ReadDataFiles():model.cc:213) Decoding params beam=13 max-active=7000 lattice-beam=8
LOG (VoskAPI:ReadDataFiles():model.cc:216) Silence phones 1:2:3:4:5:6:7:8:9:10
LOG (VoskAPI:RemoveOrphanNodes():nnet-nnet.cc:948) Removed 0 orphan nodes.
LOG (VoskAPI:RemoveOrphanComponents():nnet-nnet.cc:847) Removing 0 orphan components.
LOG (VoskAPI:ReadDataFiles():model.cc:248) Loading i-vector extractor from models/vosk-model-en-us-0.42-gigaspeech/ivector/final.ie
LOG (VoskAPI:ComputeDerivedVars():ivector-extractor.cc:183) Computing derived variables for iVector extractor
LOG (VoskAPI:ComputeDerivedVars():ivector-extractor.cc:204) Done.
LOG (VoskAPI:ReadDataFiles():model.cc:279) Loading HCLG from models/vosk-model-en-us-0.42-gigaspeech/graph/HCLG.fst
LOG (VoskAPI:ReadDataFiles():model.cc:294) Loading words from models/vosk-model-en-us-0.42-gigaspeech/graph/words.txt
LOG (VoskAPI:ReadDataFiles():model.cc:303) Loading winfo models/vosk-model-en-us-0.42-gigaspeech/graph/phones/word_boundary.int
LOG (VoskAPI:ReadDataFiles():model.cc:310) Loading subtract G.fst model from models/vosk-model-en-us-0.42-gigaspeech/rescore/G.fst
LOG (VoskAPI:ReadDataFiles():model.cc:312) Loading CARPA model from models/vosk-model-en-us-0.42-gigaspeech/rescore/G.carpa
LOG (VoskAPI:ReadDataFiles():model.cc:318) Loading RNNLM model from models/vosk-model-en-us-0.42-gigaspeech/rnnlm/final.raw

## Load and Read Audio (With just one sample)

So here, several things are happening:

1. We create a `KaldiRecognizer` instance and set `.SetWords()` to `True`, which means that we will get word-level timestamps.
2. The `.AcceptWaveform()` method is used to process the waveform
3. The `.FinalResult()` method is finally called to retrieve the word-level timestamps (transcribed from the Vosk Model - although with some innacurracies, as Vosk is not a full-fledged ASR model)

In [13]:
audio_path = "data/Audio_Files_for_testing/id2.wav"
audio_data, sample_rate = sf.read(audio_path)

# Create recognizer with 16000Hz sample rate
rec = KaldiRecognizer(model, sample_rate)
rec.SetWords(True)

# Vosk expects raw 16-bit PCM input, so convert
if audio_data.ndim > 1:
    audio_data = audio_data.mean(axis=1)  # convert stereo to mono

pcm_data = (audio_data * 32767).astype("int16").tobytes()

# Process the audio in chunks
rec.AcceptWaveform(pcm_data)
result = json.loads(rec.FinalResult())

In [16]:
result

{'result': [{'conf': 0.705267, 'end': 1.14, 'start': 0.69, 'word': 'and'},
  {'conf': 1.0, 'end': 1.38, 'start': 1.14, 'word': 'my'},
  {'conf': 1.0, 'end': 1.68, 'start': 1.41, 'word': 'date'},
  {'conf': 1.0, 'end': 1.77, 'start': 1.68, 'word': 'of'},
  {'conf': 1.0, 'end': 2.1, 'start': 1.8, 'word': 'birth'},
  {'conf': 1.0, 'end': 2.43, 'start': 2.1, 'word': 'is'},
  {'conf': 1.0, 'end': 3.36, 'start': 2.85, 'word': 'second'},
  {'conf': 1.0, 'end': 3.93, 'start': 3.36, 'word': 'september'},
  {'conf': 1.0, 'end': 4.44, 'start': 4.02, 'word': 'nineteen'},
  {'conf': 1.0, 'end': 4.77, 'start': 4.44, 'word': 'ninety'},
  {'conf': 1.0, 'end': 5.04, 'start': 4.77, 'word': 'two'}],
 'text': 'and my date of birth is second september nineteen ninety two'}

Reference Transcript

## [Archived]

In [ ]:
import json
import os
import tempfile
from pydub import AudioSegment
from vosk import Model, KaldiRecognizer
model_path = "vosk-model-en-us-0.42-gigaspeech" #model_new"
model = Model(model_path)
def align_audio_with_text(audio_path, transcription):
    audio = AudioSegment.from_wav(audio_path)
    recognizer = KaldiRecognizer(model, audio.frame_rate)
    with tempfile.NamedTemporaryFile(delete=False, suffix=".wav") as temp_wav:
        temp_wav_path = temp_wav.name
        audio.export(temp_wav_path, format="wav")
    results = []
    try:
        with open(temp_wav_path, "rb") as wf:
            wf.read(44)
            recognizer.SetWords(True)
            while True:
                data = wf.read(4000)
                if len(data) == 0:
                    break
                if recognizer.AcceptWaveform(data):
                    results.append(json.loads(recognizer.Result()))
            results.append(json.loads(recognizer.FinalResult()))
    finally:
        if os.path.exists(temp_wav_path):
            os.remove(temp_wav_path)
    words = []
    for result in results:
        if 'result' in result:
            for word in result['result']:
                words.append(word)
    aligned_segments = []
    for word in words:
        aligned_segments.append({
            "start": word["start"],
            "end": word["end"],
            "word": word["word"]
        })
    return aligned_segments

audio_dir = "/content/drive/MyDrive/Share/Research/speechNER/finetune/Audio_Files_for_testing"
transcription_file = "/content/drive/MyDrive/Share/Research/speechNER/Alignement_data/Text_with_ids_temp_preprocessed.jsonl"
output_file = "/content/drive/MyDrive/Share/Research/speechNER/Alignement_data/tr_aligned_data_new.jsonl"
with open(transcription_file, 'r') as f:
    transcriptions = [json.loads(line) for line in f]
aligned_data = []
for item in transcriptions:
    audio_path = f"{audio_dir}/id{item['id']}.wav"
    aligned_transcription = align_audio_with_text(audio_path, item['text'])
    aligned_data.append({
        "id": item['id'],
        "text": item['text'],
        "align": aligned_transcription
    })
with open(output_file, 'w') as f:
    for item in aligned_data:
        f.write(json.dumps(item) + '\n')